<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/adaptivecard+json">
      {
        "hideOriginalBody": true,
        "type": "AdaptiveCard",
        "originator": "4f0105fb-bda1-4f98-bc26-affaad844294",
        "padding": "none",
        "body": [
          {
            "type": "ColumnSet",
            "padding": {
              "top": "default",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "columns": [
              {
                "type": "Column",
                "verticalContentAlignment": "Center",
                "items": [
                  {
                    "type": "TextBlock",
                    "verticalContentAlignment": "Center",
                    "horizontalAlignment": "Left",
                    "size": "Large",
                    "text": "BST课程申请",
                    "isSubtle": true
                  }
                ],
                "width": "stretch"
              },
              {
                "type": "Column",
                "verticalContentAlignment": "Center",
                "items": [
                  {
                    "verticalContentAlignment": "Center",
                    "type": "Image",
                    "url": "https://upload.wikimedia.org/wikipedia/en/thumb/1/16/Sage_logo.svg/1200px-Sage_logo.svg.png",
                    "width": "80px",
                    "altText": "Sage Logo"
                  }
                ],
                "width": "auto"
              }
            ]
          },
          {
            "separator": true,
            "spacing": "Medium",
            "type": "Container",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "items": [
              {
                "type": "TextBlock",
                "size": "Medium",
                "weight": "Bolder",
                "text": "班级基本信息"
              },
              {
                "type": "FactSet",
                "spacing": "Large",
                "facts": [
                  {
                    "title": "课程名称",
                    "value": "**外科基础缝合课程**"
                  },
                  {
                    "title": "科室",
                    "value": "神经外科"
                  },
                  {
                    "title": "本院讲师姓名",
                    "value": "张三"
                  },
                  {
                    "title": "线下课程时间",
                    "value": "2021年5月18日 17:00:00"
                  }
                ]
              }
            ]
          },
          {
            "type": "Container",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "items": [
              {
                "type": "TextBlock",
                "size": "Medium",
                "weight": "Bolder",
                "text": "PEM白名单"
              }
            ]
          },
          {
            "type": "Container",
            "style": "emphasis",
            "padding": {
              "top": "small",
              "left": "default",
              "bottom": "small",
              "right": "default"
            },
            "items": [
              {
                "type": "ColumnSet",
                "columns": [
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "姓名"
                      }
                    ],
                    "width": "stretch"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "强生邮箱"
                      }
                    ],
                    "width": "stretch"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "地区"
                      }
                    ],
                    "width": "stretch"
                  }
                ]
              }
            ]
          },
          {
            "type": "Container",
            "spacing": "Small",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "items": [
              {
                "type": "ColumnSet",
                "columns": [
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "张若冰"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "rzhang@its.jnj.com",
                        "color": "Attention"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "东区"
                      }
                    ]
                  }
                ]
              },
              {
                "spacing": "Small",
                "type": "ColumnSet",
                "columns": [
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "运淼"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "myun1@its.jnj.com",
                        "color": "Attention"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "北区"
                      }
                    ]
                  }
                ]
              },
              {
                "type": "ColumnSet",
                "spacing": "Small",
                "columns": [
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "许航"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "hxu99@its.jnj.com",
                        "color": "Attention"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "西区"
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            "type": "Container",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "items": [
              {
                "type": "TextBlock",
                "size": "Medium",
                "weight": "Bolder",
                "text": "讲师白名单"
              }
            ]
          },
          {
            "type": "Container",
            "style": "emphasis",
            "padding": {
              "top": "small",
              "left": "default",
              "bottom": "small",
              "right": "default"
            },
            "items": [
              {
                "type": "ColumnSet",
                "columns": [
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "姓名"
                      }
                    ],
                    "width": "70px"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "手机"
                      }
                    ],
                    "width": "stretch"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "医院"
                      }
                    ],
                    "width": "stretch"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "科室"
                      }
                    ],
                    "width": "stretch"
                  },
                  {
                    "type": "Column",
                    "items": [
                      {
                        "type": "TextBlock",
                        "weight": "Bolder",
                        "text": "职称"
                      }
                    ],
                    "width": "stretch"
                  }
                ]
              }
            ]
          },
          {
            "type": "Container",
            "spacing": "Small",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "none",
              "right": "default"
            },
            "items": [
              {
                "type": "ColumnSet",
                "columns": [
                  {
                    "type": "Column",
                    "width": "70px",
                    "verticalContentAlignment": "center",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "李想国"
                      }
                    ],
                    "verticalContentAlignment": "Center"
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "verticalContentAlignment": "center",
                    "items": [
                      {
                        "type": "Input.Text",
                        "id": "phone0",
                        "value": "13400000000",
                        "placeholder": "手机号"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "verticalContentAlignment": "center",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "上海交通大学医学院"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "verticalContentAlignment": "center",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "普外科-普外科"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "verticalContentAlignment": "center",
                    "items": [
                      {
                        "type": "TextBlock",
                        "text": "副主任医师"
                      }
                    ]
                  }
                ]
              },
              {
                "type": "ColumnSet",
                "id": "doctor1",
                "isVisible": false,
                "columns": [
                  {
                    "type": "Column",
                    "width": "70px",
                    "items": [
                      {
                        "id": "name1",
                        "type": "Input.Text",
                        "placeholder": "姓名"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.Text",
                        "id": "phone1",
                        "placeholder": "手机号"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "hospital1",
                        "placeholder": "选择医院",
                        "choices": [
                          {
                            "title": "上海交通大学医学院附属瑞金医院",
                            "value": "瑞金医院"
                          },
                          {
                            "title": "复旦大学医学院附属中山医院",
                            "value": "中山医院"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "department1",
                        "placeholder": "选择科室",
                        "choices": [
                          {
                            "title": "普外科",
                            "value": "普外科"
                          },
                          {
                            "title": "骨科",
                            "value": "骨科"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "job1",
                        "placeholder": "选择职称",
                        "choices": [
                          {
                            "title": "主任医师",
                            "value": "主任医师"
                          },
                          {
                            "title": "副主任医师",
                            "value": "副主任医师"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              {
                "type": "ColumnSet",
                "id": "doctor2",
                "isVisible": false,
                "columns": [
                  {
                    "type": "Column",
                    "width": "70px",
                    "items": [
                      {
                        "id": "name2",
                        "type": "Input.Text",
                        "placeholder": "姓名"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.Text",
                        "id": "phone2",
                        "placeholder": "手机号"
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "hospital2",
                        "placeholder": "选择医院",
                        "choices": [
                          {
                            "title": "上海交通大学医学院附属瑞金医院",
                            "value": "瑞金医院"
                          },
                          {
                            "title": "复旦大学医学院附属中山医院",
                            "value": "中山医院"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "department2",
                        "placeholder": "选择科室",
                        "choices": [
                          {
                            "title": "普外科",
                            "value": "普外科"
                          },
                          {
                            "title": "骨科",
                            "value": "骨科"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "type": "Column",
                    "width": "stretch",
                    "items": [
                      {
                        "type": "Input.ChoiceSet",
                        "id": "job2",
                        "placeholder": "选择职称",
                        "choices": [
                          {
                            "title": "主任医师",
                            "value": "主任医师"
                          },
                          {
                            "title": "副主任医师",
                            "value": "副主任医师"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          },
          {
            "type": "Container",
            "padding": {
              "top": "none",
              "left": "default",
              "bottom": "default",
              "right": "default"
            },
            "items": [
              {
                "type": "ActionSet",
                "actions": [
                  {
                    "type": "Action.ToggleVisibility",
                    "title": "添加医生1",
                    "targetElements": [
                      {
                        "elementId": "doctor1",
                        "isVisible": true
                      }
                    ]
                  },
                  {
                    "type": "Action.ToggleVisibility",
                    "title": "添加医生2",
                    "targetElements": [
                      {
                        "elementId": "doctor2",
                        "isVisible": true
                      }
                    ]
                  },
                  {
                    "type": "Action.Execute",
                    "method": "POST",
                    "url": "https://dev-api.fpa.jnj.com/me/read-record?id=371&type=announcement",
                    "body": "姓名1：{{name1.value}} 姓名2：{{name2.value}}",
                    "title": "确定",
                    "isPrimary": true
                  }
                ]
              }
            ]
          }
        ],
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "version": "1.4"
      }
    </script>
  </head>
  <body>
    BST课程申请等待审批！
  </body>
</html>
